<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bg0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 73}, {480, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, 12}</string>
			<key>spriteSize</key>
			<string>{480, 150}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{24, 450}, {480, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 156}, {480, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, -51}</string>
			<key>spriteSize</key>
			<string>{480, 110}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{25, 216}, {480, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 46}, {480, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 77}</string>
			<key>spriteSize</key>
			<string>{480, 74}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{25, 345}, {480, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 218}, {480, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -109}</string>
			<key>spriteSize</key>
			<string>{480, 102}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{6, 96}, {480, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 119}</string>
			<key>spriteSize</key>
			<string>{480, 82}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{4, 4}, {480, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 266}, {480, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -133}</string>
			<key>spriteSize</key>
			<string>{480, 54}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{21, 609}, {480, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 145}</string>
			<key>spriteSize</key>
			<string>{480, 30}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{21, 692}, {480, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{16, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{193, 959}, {16, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monster-a.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{30, 64}</string>
			<key>spriteSourceSize</key>
			<string>{32, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 940}, {30, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monster-b.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {122, 28}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{122, 28}</string>
			<key>spriteSourceSize</key>
			<string>{128, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{215, 749}, {122, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>monster-c.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {148, 148}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{148, 148}</string>
			<key>spriteSourceSize</key>
			<string>{150, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 797}, {148, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ship-anim0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 12}, {108, 42}}</string>
			<key>spriteOffset</key>
			<string>{5, -1}</string>
			<key>spriteSize</key>
			<string>{108, 42}</string>
			<key>spriteSourceSize</key>
			<string>{128, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{33, 894}, {108, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ship-anim1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 12}, {112, 42}}</string>
			<key>spriteOffset</key>
			<string>{3, -1}</string>
			<key>spriteSize</key>
			<string>{112, 42}</string>
			<key>spriteSourceSize</key>
			<string>{128, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{28, 824}, {112, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ship-anim2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 12}, {114, 42}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{114, 42}</string>
			<key>spriteSourceSize</key>
			<string>{128, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{179, 800}, {114, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ship-anim3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 11}, {118, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{118, 44}</string>
			<key>spriteSourceSize</key>
			<string>{128, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{24, 961}, {118, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ship-anim4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 8}, {120, 46}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{120, 46}</string>
			<key>spriteSourceSize</key>
			<string>{128, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{15, 749}, {120, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ship.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 12}, {94, 42}}</string>
			<key>spriteOffset</key>
			<string>{11, -1}</string>
			<key>spriteSize</key>
			<string>{94, 42}</string>
			<key>spriteSourceSize</key>
			<string>{128, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 863}, {94, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 1024}</string>
		<key>name</key>
		<string>TextureSW2</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>TextureSW2_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>TextureSW2_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>